<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem; /* spacing between filters */
    padding: 1rem 0;
  }

  .filter {
    text-align: center;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .tax-info {
    display: none;
  }
  .my-icon {
  color: 		#4f000b; /* Example: soft purple */
}


  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    white-space: nowrap;
  }
</style>

<div id="filters">
  <div class="filter"><div><i class="fa-solid fa-fire my-icon"></i></div><p>Trending</p></div>
  <div class="filter"><div><i class="fa-solid fa-bed my-icon"></i></div><p>Rooms</p></div>
  <div class="filter"><div><i class="fa-solid fa-mountain-city my-icon "></i></div><p>Iconic Cities</p></div>
  <div class="filter"><div><i class="fa-solid fa-mountain my-icon"></i></div><p>Mountains</p></div>
  <div class="filter"><div><i class="fa-brands fa-fort-awesome my-icon"></i></div><p>Castles</p></div>
  <div class="filter"><div><i class="fa-solid fa-person-swimming my-icon"></i></div><p>Amazing Pools</p></div>
  <div class="filter"><div><i class="fa-solid fa-campground my-icon"></i></div><p>Camping</p></div>
  <div class="filter"><div><i class="fa-solid fa-tractor my-icon"></i></div><p>Farms</p></div>
  <div class="filter"><div><i class="fa-solid fa-snowman my-icon"></i></div><p>Arctic</p></div>
  <div class="filter"><div><i class="fa-solid fa-sailboat my-icon"></i></div><p>Boats</p></div>
  <div class="filter"><div><i class="fa-solid fa-landmark-dome my-icon"></i></div><p>Domes</p></div>

  <!-- Toggle with spacing, in same line -->
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
    </div>
  </div>
</div>

